.box-container {
  display: flex;
  flex-direction: row;
}
.box {
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  background-color: teal;
  color: whitesmoke;
}
